{% extends 'dashboard_succor.html'%}

{% block title %} Markets {% endblock %}

{% load static %}

{% block body %}
    
<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          {% for feed in feeds %}
          <div class="col-md-4">
            <h5 class="card-title fw-semibold mb-4" align="center">{{ feed.head }}</h5>
            <div class="card">
              
                <img src="{% static 'images/products/'|add:feed.image %}" class="card-img-top" alt="...">
              
              <div class="card-body">
                <h5 class="card-title">{{ feed.title }}</h5>
                <p class="card-text"> {{ feed.message }}</p>
                <a href="{{ feed.source }}" class="btn btn-primary" align="center">Read more</a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  </div>



{% endblock %}