{% extends 'dashboard_succor.html' %}

{% load static %}

{% block title %}
Prices
{% endblock %}

{% block body %}

<div class="container-fluid">
  <!--  Row 1 -->
  <div class="row">
      <div class="card w-100">
        <div class="card-body">
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
              <h5 class="card-title fw-semibold">Account Overview</h5>
            </div>
            <div>
              <select class="form-select">
                <option value="1">March 2023</option>
                <option value="2">April 2023</option>
                <option value="3">May 2023</option>
                <option value="4">June 2023</option>
              </select>
            </div>
          </div>
          <!-- chartt -->
          <div id="chart"></div>
          <div class="image-with-tex">
            <img src="{% static 'images/profile/user-1.jpg' %}" align="center" width="150" height="150" class="rounded-circle"><br/>
            <br><h6 style="float: center; margin-right: 10px;">UserID</h6>
            <p> AnonyUser78976535</p>
            <h6 >User Type:</h6> <p> Regular User </p>

          </div>
          
        </div>
      </div>
    </div>




      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <h5 class="card-title fw-semibold mb-4">Buy Energy</h5>
                  <div class="card">
                    <!-- <img src="{% static 'images/products/s4.jpg' %}" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
                

                

                <!-- <div class="col-md-4">
                  <h5 class="card-title fw-semibold mb-4">Titles, text, and links</h5>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                </div> -->

                <div class="col-md-4">
                  <h5 class="card-title fw-semibold mb-4" align="center">Sell Energy</h5>
                  <div class="card">
                    <!-- <img src="{% static 'images/products/s4.jpg' %}" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
  

{% endblock %}
