{% extends 'user-auth_succor.html'%}


{% load static %}



{% block content %}

            <p class="text-center">Your Social Campaigns</p>

            <div class="container">
            {% if messages %}
              {% for message in messages %}
                <b><div align="center" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div></b>
              {% endfor %}
            {% endif %}
            </div>

            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputtext1" class="form-label">Username</label>
                <!-- <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp"> -->
                {{ form.username }}
              </div>

              <div class="mb-3">
                <label for="exampleInputtext1" class="form-label">Email</label>
                <!-- <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp"> -->
                {{ form.email }}
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                {{ form.password1 }}
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
                {{ form.password2 }}
              </div>
              <!-- <a href="./index.html" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</a> -->
              <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">Sign Up</button>
              <div class="d-flex align-items-center justify-content-center">
                <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                <a class="text-primary fw-bold ms-2" href="{% url 'signin' %}">Sign In</a>
              </div>
            </form>

          
     
{% endblock %}